
	instr {{ name }}
	$CORDELIA_QUALITIEs
	$CORDELIA_RELEASE
	$CORDELIA_ENV(
		ienv init .005
		aenv cossegr 0, ienv, 1, idur-(ienv*2), 1, ienv, 0
	)

idur			divz idur, i(gk{{ name }}_dur), 1
idiv			i gkdiv
icps			divz idiv, icps, 1

ioff			i gk{{ name }}_off

isonvs		i gk{{ name }}_sonvs
isonvs		abs isonvs

isonvs		init isonvs%(gi{{ name }}_len-1)
imod			init gi{{ name }}_channels-1

index			init (isonvs*gi{{ name }}_channels)+imod

ift_sonvs	init gi{{ name }}_list[index]

aphase		= (chnget:a("heart_a") * icps)
aphase		+= ioff
aout			table3 aphase % 1, ift_sonvs, 1

ienv			init .005
aout			*= idyn

	$CORDELIA_OUT
	endin

