	instr {{ instrument.uid }}_bridge
ich init p4
	xtratim gixtratim

krel		init 0
krel		release
idyn		init 1
adyn_in	cosseg 0, .015, 1
adyn_out	init 1

if krel == 1 then
	adyn_in cosseg idyn, gixtratim/4, 0, gixtratim*3/4, 0 
	adyn_out cosseg idyn, gixtratim*2/3, idyn, gixtratim/3, 0
endif

amain_in chnget sprintf("%s_%i", "{{ instrument.name }}", ich)
amain_in *= adyn_in

{{ chain }}

	chnmix amain_out*adyn_out, gSmouth[ich-1]
	endin

ich init 1
until ich > ginchnls do
	schedule nstrnum("{{ instrument.uid }}_bridge")+ich/1000, 0, -1, ich
	ich += 1
od
