
{% for quality, values in instrument.qualities.items() if quality in ['talea', 'color', 'dur', 'dyn', 'env', 'space'] %}
gi{{ instrument.uid }}_{{ quality }} ftgen {{ ft_num[quality] }}, 0, giFTGEN_SIZE, -2, {{ values.resolved | length }}, {{ values.resolved | join(', ') }}
{% endfor %}

{% for quality in instrument.qualities if quality in ['color', 'dur', 'dyn', 'env', 'space'] %}
gk{{ instrument.uid }}_{{ quality }}_count init -1
{% endfor %}

	instr {{ instrument.uid }}
ktalea_prev init -1
kinit_flag  init 1

kmain   chnget "heart"

kphase table kmain, gi{{ instrument.uid }}_cycle, 1

ktalea_len  table 0, gi{{ instrument.uid }}_talea
ktalea_idx = floor(kphase * ktalea_len) + 1
ktalea  table ktalea_idx, gi{{ instrument.uid }}_talea

if ktalea > 0 && ktalea != ktalea_prev then
	if kinit_flag == 1 then
		{% for quality in instrument.qualities if quality in ['color', 'dur', 'dyn', 'env', 'space'] %}
		gk{{ instrument.uid }}_{{ quality }}_count = ktalea - 1
		{% endfor %}
		kinit_flag = 0
	endif

	{% for quality in instrument.qualities if quality in ['color', 'dur', 'dyn', 'env', 'space'] %}
	; ··· {{ quality }}
	k{{ quality }}_len  table 0, gi{{ instrument.uid }}_{{ quality }}
	k{{ quality }}_idx  = (gk{{ instrument.uid }}_{{ quality }}_count % k{{ quality }}_len) + 1
	k{{ quality }}      table k{{ quality }}_idx, gi{{ instrument.uid }}_{{ quality }}
	{% endfor %}

	if kspace == 0 then
		kch = 1
		until kch > ginchnls do
			schedulek "{{ instrument.name }}", 0, kdur * gkBEATs, kdyn, kenv, kcolor, kch
			kch += 1
		od
	else
		schedulek "{{ instrument.name }}", 0, kdur * gkBEATs, kdyn, kenv, kcolor, kspace
	endif

	{% for quality in instrument.qualities if quality in ['color', 'dur', 'dyn', 'env', 'space'] %}
	gk{{ instrument.uid }}_{{ quality }}_count += 1
	{% endfor %}
	ktalea_prev = ktalea
endif
	endin
